#Node modules
node_modules/

#Environment Variables 
.env
.env.local

#Logs
npm-debug.log*

#OS files
.DS_Store

#SQLite database (if used)
*SQLite
*SQLite-journal

# Python virtual env (if .venv is from Python)
.venv/